<div class="col-sm-6">
	<h1 class="title-white">Work Experience</h1>
	<div class="container">
	  <div class="row">
	    <%= render 'main_page/work_freelance' %>
	    <%= render 'main_page/work_icalia' %>
	  </div>
	</div>
</div>