<div class="col-sm-6">
	<h1 class="title-white">Education</h1>
	<div class="container">
	  <div class="row">
	    <%= render 'main_page/education_tec' %>
	    <%= render 'main_page/education_csc' %>
	  </div>
	</div>
</div>