<h1 class="title">EXPERIENCE</h1>
<div class="container exp-container">
    <%= render 'main_page/work_freelance' %>
    <%= render 'main_page/work_icalia' %>
    <%= render 'main_page/experience_skills' %>
    <!-- <%= render 'main_page/prof_code_of_ethics' %> -->
</div>
