<div class="row">
  <div class="edu-featurette">
		<h2 class="edu-featurette-header">UNIVERSITY</h2>
	    <div class="contain-featurette">
        <div class="col-sm-9 edu-text">
          <p>
            I am currently enrolled at the <strong>Instituto Tecnológico y de Estudios Superiores de Monterrey Campus Monterrey</strong>,
            where I'm finishing my first semester towards a <strong>Computer Science and Technology Engineering</strong> Degree. I still have
            four years left to my degree and expect to be graduating in <strong>December, 2019</strong>. Meanwhile, I am extremely excited
            and motivated to practice, learn and improve towards becoming a better software developer and overall technological innovator.
          </p>

          <h2>Activities and Recognitions:</h2>
          <ul>
            <li>Awarded Scholarship for Academic Talent Distinction 2015</li>
            <li>Electoral Committe of the Student Federation - Adviser Aug-Dec 2015</li>
            <li>ACM Monterrey - Collaborator Aug-Dec 2015</li>
        </div>
        <div class="col-sm-3">
          <%= image_tag("cap.png", :class => "edu-img")%>
        </div>
    </div>
  </div>
</div>
