<div class="row">
  <div class="edu-featurette">
		<h2 class="edu-featurette-header">HIGHSCHOOL</h2>
	    <div class="contain-featurette">
  	    <p>
          I went to highschool between August 2012 and May 2015. I carried out my studies
          at <strong>Prepa Tec Campus Santa Catarina </strong> in Monterrey, N.L.
        </p>
    </div>
  </div>
</div>
