<div class="col-sm-3">
  <div class="edu-featurette">
  	<div class="featurette-header">
  		<h1>Highschool</h1>
  	</div>
	    <div class="contain-featurette">
	    	<h1>Prepa Tec</h1>
		    <h1>Campus Santa Catarina</h1>
		    <p>Graduated with the</p>
		    <p>International Baccaulaureate Diploma</p>
		    <p>Aug 2012 - May 2015</p>
	    <div id="map-csc">
		</div>
    </div>
  </div>
</div>