<div class="col-sm-3">
  <div class="edu-featurette">
  	<div class="featurette-header">
  		<h1>University</h1>
  	</div>
	    <div class="contain-featurette">
	    	<h1>Tecnológico de Monterrey</h1>
		    <h1>Campus Monterrey</h1>
		    <p>Computer Science and Software Engineering</p>
		    <p>Freshman</p>
		    <p>Graduating December 2019</p>
	    <div id="map-campus-mty">
		</div>
    </div>
  </div>
</div>