<div class="row">
  <div class="edu-featurette">
		<h2 class="edu-featurette-header">HIGHSCHOOL</h2>
	    <div class="row contain-featurette">
  	    <div class="col-sm-3">
          <%= image_tag("apple.png", :class => "edu-img")%>
        </div>
        <div class="col-sm-9 edu-text">
          <p>
            I went to highschool between August 2012 and May 2015. I carried out my studies
            at <strong>Prepa Tec Campus Santa Catarina </strong> in Monterrey, N.L. Throughout highschool
            I was enrolled and graduated successfully form the <strong>International Baccaulaureate Diploma Program</strong>,
            in which, amongst others, I completed courses in <strong>Computer Science</strong>, Physics, and Business and Management, which marked
            the start of my current engineering and entrepreneurship background.
          </p>

          <h2>Activities and Recognitions:</h2>
          <ul>
            <li>The Devshop - President and Co-Founder</li>
            <li>Organized "Hack Prepas" - First Highschool-level Hackathon in Mexico</li>
            <li>FELC CSC 2014-2015 - President of the Bank</li>
            <li>MUNterrey 2014-2015 - Under-Secretary General of General Assemblies</li>
            <li>ORDEM CSC 2013-2014 - Courts and Debates Coordinator</li>
            <li>Dirección de Asuntos Estudiantiles - Awarded Red Stole for Extra-curricular activities</li>
          </ul>
        </div>
    </div>
  </div>
</div>
