<div class="row">
  <div class="work-featurette">
  	<div class="work-featurette-header">
  		<h1>Skills</h1>
  	</div>
    <div class="contain-featurette">
	    <h2 class="sub-exp-title">Multiple Languages and Technologies</h2>
      <div class="row">
        <div class="col-sm-4 skill-col">
          <h2 id="languages">Languages</h2>
          <ul>
            <li>Java <span class="text-muted"> (1 year) </span></li>
            <li>Ruby <span class="text-muted"> (1 year) </span></li>
            <li>PHP <span class="text-muted"> (1 year) </span></li>
            <li>SQL <span class="text-muted"> (1 year) </span></li>
            <li>C++ <span class="text-muted"> (1/2 year) </span></li>
            <li>Javascript <span class="text-muted"> (1/4 year) </span></li>
          </ul>
        </div>
        <div class="col-sm-4 skill-col">
          <h2 id="frameworks">Development Frameworks</h2>
          <ul>
            <li>Ruby on Rails <span class="text-muted"> (1 year) </span></li>
            <li>JavaFX <span class="text-muted"> (1/2 year) </span></li>
            <li>MySQL <span class="text-muted"> (1 year) </span></li>
            <li>Bootstrap <span class="text-muted"> (2 years) </span></li>
            <li>Furatto <span class="text-muted"> (1/2 year) </span></li>
          </ul>
        </div>
        <div class="col-sm-4 skill-col">
          <h2 id="editors">Editors / Dev Software</h2>
          <ul>
            <li>Atom <span class="text-muted"> (Main Editor - 1/2 year) </span></li>
            <li>Sublime Text <span class="text-muted"> (2 years) </span></li>
            <li>Unix Command Line <span class="text-muted"> (2 years) </span></li>
            <li>Git <span class="text-muted"> (1 year) </span></li>
            <li>Adobe Photoshop <span class="text-muted"> (5 years) </span></li>
            <li>Adobe Illustrator <span class="text-muted"> (2 years) </span></li>
          </ul>
        </div>
      </div>
  </div>
</div>
<!--
<h2 class="ul-title">Skills</h2>
<ul>
  <li>Java - (1 year)</li>
  <li>Ruby on Rails - (1 year)</li>
  <li>C++ - (6 months)</li>
  <li>Javascript - (3 months)</li>
  <li></li>
</ul> -->
