<div class="row">
  <div class="work-featurette">
  	<div class="work-featurette-header">
  		<h1>Professional Code of Ethics</h1>
  	</div>
    <div class="contain-featurette">
	    <h2 class="sub-exp-title">MY PERSONAL CODE</h2>
      <ol class="ethics">
        <li>Always be honest about my abilities and give adequeate, realistic and sincere estimations when doing business.</li>
        <li>Treat sensitive data entrusted to me with the utmost respect and confidentiality.</li>
        <li>Never use my knowledge of computer science and informatics for any malicious intent.</li>
        <li>Always strive to improve and share my knowledge when it is appropriate and can be of use to someone else</li>
      </ol>
  	</div>
  </div>
</div>
