<div class="row">
  <div class="work-featurette">
  	<div class="work-featurette-header">
  		<h1>Apprenticeship</h1>
  	</div>
    <div class="contain-featurette">
	    <h2 class="sub-exp-title">APPRENTICE WEB DEVELOPER</h2>
      <p>Apprenticed @Icalia Labs for a semester with the Ruby on Rails Web Development Framework</p>
	    <p>Jan 2015 - May 2015</p>
      <p><%= link_to 'Visit their website', "http://icalialabs.com", :target => "_blank" %>
  	</div>
  </div>
</div>
