<div class="row">
  <div class="work-featurette">
  	<div class="work-featurette-header">
  		<h1>Apprenticeship</h1>
  	</div>
    <div class="contain-featurette">
	    <h2 class="sub-exp-title">APPRENTICE WEB DEVELOPER</h2>
      <p class="apprenticeship">Apprenticed @Icalia Labs for a semester with the Ruby on Rails Web Development Framework</p>
	    <p class="apprenticeship">Jan 2015 - May 2015</p>
      <p class="apprenticeship"><a href="http://www.icalialabs.com" target="_blank">www.icalialabs.com</a></p>
  	</div>
  </div>
</div>
