<div class="col-sm-3">
  <div class="work-featurette">
  	<div class="work-featurette-header">
  		<h1>Freelancing</h1>
  	</div>
	    <div class="contain-featurette">
	    	<h1>Freelance Development</h1>
		    <h1>Full Stack Developer</h1>
		    <p>Multiple commisioned web apps</p>
		    <p><a href="">Go to Projects</a></p>
		    <p>Since May 2014</p>
	    <div id="map-campus-mty">
		</div>
    </div>
  </div>
</div>
