<div class="col-sm-3">
  <div class="work-featurette">
  	<div class="work-featurette-header">
  		<h1>Apprenticeship</h1>
  	</div>
	    <div class="contain-featurette">
	    	<h1>Icalia Labs</h1>
		    <h1>Apprentice Web Developer</h1>
		    <p>Ruby on Rails Web Development Framework</p>
		    <p>Jan 2015 - May 2015</p>
		    <p><a href="http://www.icalialabs.com">www.icalialabs.com</a></p>
	    <div id="map-campus-mty">
		</div>
    </div>
  </div>
</div>