<header class="landing">
  <div class="container">
    <div class="greeting">
      <h1 id="greet">Héctor Morales</h1>
      <h2 class="">Software Developer</h2>
    </div>
  </div>
</header>
<div class="about">
  <div class="container">Hola</div>
</div>
