@import "bootstrap-sprockets";
@import "bootstrap";


/* Color Vars */

$light-gray: #ECECEC;
$peter-river: #3498db;
$royal-blue: #4183D7;
$jordy-blue: #89C4F4;
$white-smoke: #ECECEC;

/* universal */

html,
body{
  background-color: black;
  height: 100%;
}

section{
  overflow: auto;
}

textarea{
  resize: vertical;
}

.center{
  text-align: center;
}

.center h1{
  margin-bottom: 10px;
}

.navbar-default{
  background-color: rgba(255, 255, 255, 0.0);
  border: none;
  transition: 0.3s ease-in-out;
  padding-top: 20px;
}

.navbar-default .navbar-nav > li > a {
    color: white;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 5px 20px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.opaqueNav{
  background-color: white;
  transition: 0.5s ease-in-out;
  border: none;
  border-bottom: 1px solid $light-gray;
  padding-top: 0px;
}

.opaqueNav .navbar-right> li > a {
    color: black;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 5px 20px;
    font-weight: bold;
}

.navbar-default .navbar-nav > li > a:hover {
    color: $royal-blue;
    font-weight: bold;
}

.navbar-default .navbar-nav > li > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: $royal-blue;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.navbar-default .navbar-nav > li > a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.nav-logo{
  width: 75px;
  height: 50px;
  margin-top: 5px;
  margin-left: 100px;
  background-image: image-url('logob&w.png');
  background-size: contain;
  background-repeat: no-repeat;
}

#navbar{
  margin-right: 80px;
}

.nav-logo:hover{
  width: 80px;
  height: 55px;
  margin-top: 5px;
  margin-bottom: 0px;
  background-image: image-url('logopom.png');
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.nav-logo-black{
  width: 65px;
  height: 50px;
  margin-top: 5px;
  background-image: image-url('logoblack.png');
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

// Parallax

.landing{
  position: relative;
  height: 100vh;
  background-image: image-url("bg1.png");
  background-repeat: no-repeat;
  background-size: 100%;
  position: top center;
  background-attachment: fixed;
}

//Btn Set Main

.greet-btn-set{
  // background-color: black;
  width: 40%;
  height: 40px;
  margin-left: 135px;
  margin-top: 20px;
}

.btn-landing{
  height: 100%;
  width: 45%;
  background-color: rgba(0,0,0, 0.0);
  border: 1px solid white;
  color: white;
  padding: 8px;
  font-family: 'Open Sans', 'sans-serif';
}

.btn-landing:hover{
  height: 100%;
  width: 48%;
  background-color: rgba(0,0,0, 0.2);
  border: 2px solid white;
  color: white;
  font-size: 1.1em;
  padding-top: 8px;
}

.glyphicon-chevron-right {
  margin-left: 10px;
}

.headshot{
  width: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.about-me{
  font-size: 2em;
  font-family: 'Open Sans', 'sans-serif';
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
}

.about-me a{
  color: $royal-blue;

  &:hover{
    text-decoration: none;
  }
  &:visited{
    text-decoration: none;
  }
  &:active{
    text-decoration: none;
  }
}



//About me

.about{
  background-color: white;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}

//Education

.logo-tec{
  width: 100%;
  padding-top: 20px;
}
.logo-csc{
  width: 40%;
  padding-top: 20px;
}

.education{
  margin-left: 0;
  margin-right: 0;
  background-color: $white-smoke;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}

.experience{
  margin-left: 0;
  margin-right: 0;
  background-color: white;
  padding-top: 40px;
  padding-bottom: 40px;
}

.title-white{
  font-family: 'Montserrat';
  color: white;
  font-size: 4em;
  margin-bottom: 40px;
}

.edu-featurette{
  width: 100%;
  text-align: left;
  margin-bottom: 80px;
}

.edu-featurette-header{
  color: black;
  font-family: 'Montserrat';
  font-weight: bold;
  text-align: left;
}

.work-featurette{
  width: 100%;
  text-align: left;
}

.contain-featurette{
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.work-featurette-header{
  background-color: $royal-blue;
  width: 100%;
}

.logo-tec{
  width: 200px;
  height: 200px;
}

/* Typography */

h1, h2, h3, h4, h5, h6{
  line-height: 1;
}

h1{
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

.title{
  font-family: 'Montserrat';
  font-size: 4em;
  margin-bottom: 40px;
  color: black;
}

.greeting{
  padding-top: 250px;
  padding-left: 150px;
}

.greeting > h1{
  margin-top: 0;
  text-align: left;
  font-size: 3.9em;
  color: #FFF;
  margin-bottom: 10px;
  font-weight: bold;
  font-family: 'Montserrat';
}

.greeting > h2{
  margin-top: 0;
  margin-bottom: 10px;
  text-align: left;
  font-size: 3em;
  font-style: normal;
  color: $royal-blue;
  font-family: 'Open Sans', sans-serif;
}

h2 {
  font-size: 2.4em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: gray;
}

h3 {
  font-size: 1.8em;
  letter-spacing: -1px;
  font-weight: normal;
  color: gray;
}

h4 {
  font-size: 1.5em;
  letter-spacing: -1px;
  font-weight: normal;
  color: #DC6891;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1em;
  line-height: 1.7em;
}

.nav {
  font-size: 1.2em;
}

.edu-container{
  margin-bottom: 60px;
}

.contain-featurette > h1{
  font-size: 1.3em;
  margin-bottom: 5px;
  line-height: 1.2;
}

.contain-featurette > p{
  font-size: 1.5em;
  color: black;
  text-align: center;
  margin-bottom: 0;
  line-height: 1.2;
  margin-top: 10px;
}

.contain-featurette > a{
  font-size: 1.1em;
  text-align: left;
  margin-bottom: 0;
  line-height: 1.2;
  margin-top: 10px;
}

.edu-featurette-header > h1{
  color: white;
  font-size: 1.9em;
  padding: 5px;
  margin-top: 0;
}

.work-featurette-header > h1{
  color: white;
  font-size: 1.9em;
  padding: 5px;
  margin-top: 0;
}

.edu-img{
  width: 100%;
}

.edu-text{
  margin-top: 60px;
}

.sub-exp-title{
  color: black;
  font-family: 'Montserrat';
}
//Icons

.icon-row{
  text-align: right;
  margin-top: 50px;
}

.soc-med-icon{
  width: 5%;
}

//Thumbnails

.thumbnail-row{
  margin-bottom: 40px;
}

.site-thumbnail{
  width: 90%;
  margin-top: 30px;
  position: relative;
  border: 3px solid gray;
}

.tn-caption{
  height: 40px;
  width: 80%;
  bottom :-15px;
  padding-top: 10px;
  padding-left: 10px;
  position: absolute;
  background-color: rgba(65, 131, 215, 0.8);
}

.tn-caption a{
  color: white;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  color: white;
}

.ul-title{
  font-size: 2em;
  font-family: 'Montserrat';
  color: black;
  text-align: left;
}

.apprenticeship{
  text-align: center;
}
